/* .ant-btn-primary {
  background-color: #3fc060 !important;
  border-color: #3fc060 !important;
}

.ant-pagination-item-active {
  border-color: #3fc060 !important;
}

li.ant-pagination-item-active a {
  color: #3fc060 !important;
}

.ant-menu-item-selected {
  background-color: #3fc060 !important;
}

.ant-menu-item-selected span {
  color: white !important;
}

.ant-menu-item-active {
  color: #3fc060 !important;
} */

.ant-btn-primary{
  background-color: #00bfff !important;
  border-color: #00bfff !important;
}
.ant-btn-danger{
  background-color: #e6991d !important;
  border-color: #e6991d !important;
}
.ant-pagination-item-active{
  border-color: #00bfff !important;
}

.li.ant-pagination-item-active {
  color: #00bfff !important;
}


.ant-menu-item:focus{ 
  background-color:  #00bfff !important;
  color: White !important;
}



